* {
    font-family: "Neue Plak", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--app-background);
    color: var(--app-text);
    box-sizing: border-box;
}

/* button {
    cursor:pointer;
} */

:root {
    --app-background: #eeedf2;
    --app-text: #6f7287;
    --app-border: #6f7287;
    --app-text-orange: #f05537;
    --app-background-footer: #1e0a3c;
    --app-text-white: #FFFFFF;
}


#header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 0 40px;
}

#header {
    color: var(--app-text-orange);
}

#header-search-container {
    box-shadow: 2px 2px 5px var(--app-border);
    padding: 10px 50px 10px 10px;
}

#header-search-container:hover {
    box-shadow: 2px 2px 5px var(--app-text-orange);
}

#header-search-container:hover > i {
    color: var(--app-text-orange);
}

.search-input  {
    border: none;
}

.search-input:focus {
    outline: none;
}

#header-search-container, #header-search-container > * {
    background-color: white;
}

#header-nav-container {
    display: flex;
    gap: 20px;
}

.nav-links {
    text-decoration:none;
    color: var(--app-text-orange);
}


#category-container {
    margin-top: 40px;
    padding: 0px 10px;
}

#categories-container {
    display: flex; 
    gap: 5px;
    margin-top: 10px;
}

.categories {
    border:  1px solid var(--app-border);
    box-shadow: 2px 2px 5px var(--app-border);
    width: 25%;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.categories:hover {
    box-shadow: 2px 2px 5px var(--app-text-orange);
    border-color: var(--app-text-orange);
    cursor: pointer;
}

.categories:hover > * {
    color: var(--app-text-orange);
}

#events-container {
    margin-top: 30px;
    padding: 10px;
}

#event-card-container {
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:20px;
    justify-content: space-between;
}

.event-cards {
    width: 49.5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.event-image {
    width: 100%;
    height: 300px;
}

.event-title {
    font-weight: bold;
    color: purple;
}

.event-title:hover {
    color: var(--app-text-orange);
}

.price  {
    align-self: flex-end;
}

#footer-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}

#see-more {
    border: 1px solid var(--app-border);
    box-shadow: 2px 2px 5px var(--app-border);
    padding: 20px 150px;
    cursor:pointer;
}

#see-more:hover{
    box-shadow: 2px 2px 5px var(--app-text-orange);
    border-color: var(--app-text-orange);
    color: var(--app-text-orange);
}

#footer {
    padding: 40px 20px 40px 20px;
    background-color: var(--app-background-footer);
    width: 100%;
    text-align: end;
}

.footer-content  {
    color: var(--app-text-white);
    background-color: inherit;
}

@media screen and (max-width: 700px) {
    #header-container {
        flex-direction: column;
        gap:  30px;
        padding: 0px 10px;
    }

    #header-search-container{
        width: 100%;
        padding-left: 50px;
    }

    #categories-container {
        flex-direction: column;
    }

    .categories {
        width: 100%;
    }

    .event-cards {
        width:100%;
    }

    /* .event-cards > *:not(.price){
        align-self: center;
    } */
    .date, .event-title {
        align-self: center;
    }
}